<div class="padding">
    <div class="box">
        <div class="table-responsive">
            <imperio-search-input></imperio-search-input>
            <div class="box-body b-t">
                <div class="pull-left">
                    <button type="button" ng-click="showAddEdit()" class="md-btn md-raised m-b-sm w-xs green">
                        New <i class="fa fa-plus"></i>
                    </button>
                </div>
                <imperio-search-input></imperio-search-input>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th width="50px"></th>
                    <th>
                        სახელი
                    </th>
                    <th imperio-sortable-by="organisationType">
                        ორგანიზაციის ტიპი
                    </th>
                    <th imperio-sortable-by="taxType">
                        დაბეგვრის ტიპი
                    </th>
                    <th imperio-sortable-by="currency">
                        ვალუტა
                    </th>
                    <th imperio-sortable-by="commisionPrice">
                        საკომისიო
                    </th>
                    <th imperio-sortable-by="timestamp.created">
                        დარეგისტრირდა
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in data.content">
                    <td>
                        <button class="btn btn-icon btn-info" ng-click="showAddEdit(item)">
                            <i class="fa fa-fw fa-pencil-alt"></i>
                        </button>
                    </td>
                    <td>{{item.brandName}}</td>
                    <td>{{item.organisationType}}</td>
                    <td>{{item.taxType}}</td>
                    <td>{{item.currency.shortCode}}</td>
                    <td>{{item.commisionPrice}}</td>
                    <td>{{item.timestamp.created}}</td>
                </tr>
                <tr ng-if="!data.content.length" class="text-center">
                    <td colspan="100" class="warning">ჩანაწერები ვერ მოიძებნა</td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="50" class="text-center">
                        <imperio-pager></imperio-pager>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div id="showAddEdit" class="modal black-overlay" data-backdrop="false">
    <div class="modal-dialog modal-lg" ng-form="addEditForm" style="width: 98%;height: 92%;padding: 0;">
        <div class="modal-content" style="height: 99%;">
            <div class="modal-header">
                <h5 class="modal-title">{{init.action}}</h5>
            </div>
            <div class="modal-body p-lg">
                <div class="b-b nav-active-bg">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0)" data-toggle="tab" data-target="#tabMain">
                                მაგიდები
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content p-a m-b-md">
                    <div class="tab-pane animated fadeIn text-muted active" id="tabMain">
                        <div class="col-md-12 container" id="gfx_holder"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-color: transparent;">
                <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">დახურვა</button>
                <div class="btn-group">
                    <button type="button" class="btn green dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        დამატება
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:void(0)" ng-click="add()">კვადრატი</a>
                        <a class="dropdown-item" href="javascript:void(0)" ng-click="add('rectangle')">მართკუთხედი</a>
                        <a class="dropdown-item" href="javascript:void(0)" ng-click="add('rounded-rect')">მრგვალი</a>
                    </div>
                </div>
                <button type="button" class="btn danger p-x-md"
                        ng-disabled="addEditForm.$invalid"
                        ng-click="save()">
                    შენახვა
                </button>
            </div>
        </div>
    </div>
</div>