<div class="news-bar white-bg" th:fragment="breakingnews"  xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container" th:if="${test != null}">
        <div class="row">

            <!-- news -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-9 r-full-width">
                <div class="headline-wrap">

                    <span class="badge"> ამჟამად </span>

                    <!-- news ticker -->
                    <div id="ticker">
                        <div class="clip">
                            <div class="today">
                                <ul>
                                    <li th:each="item : ${breakingNews}" th:text="${item.title}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- news ticker -->

                    <!-- ticker spinner -->
                    <div class="alert-spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                    <!-- ticker spinner -->

                </div>
            </div>
            <!-- news -->

            <!-- time clock -->
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 r-full-width">
                <div class="time-clock">
                    <div id="clock"></div>
                </div>
            </div>
            <!-- time clock -->

            <!-- Wheather forecast -->
            <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
                <div class="weather-holder">
                    <img src="/images/cloud.png" alt="">
                    <span class="weather-state">Cloudy USA, Natha</span>
                    <span class="temp"><i class="fa fa-plus"></i> 18<sup>0</sup> C</span>
                </div>
            </div>
            <!-- Wheather forecast -->

        </div>
    </div>
</div>