<div class="padding">
    <div class="box">
        <div class="table-responsive">
            <div class="box-body b-t">
                <div class="pull-left">
                    <button type="button" ng-click="showAddEdit()" class="md-btn md-raised m-b-sm w-xs green">
                        New <i class="fa fa-plus"></i>
                    </button>
                </div>
                <imperio-search-input></imperio-search-input>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th width="110px"></th>
                    <th imperio-sortable-by="fullName">
                        ქვეყანა
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in data.content">
                    <td>
                        <button class="btn btn-icon btn-info" ng-click="showAddEdit(item)">
                            <i class="fa fa-fw fa-pencil-alt"></i>
                        </button>
                        <button class="btn btn-icon btn-danger" ng-model="item"
                                data-title="წავშალო ჩანაწერი?"
                                ng-popover-placement="right"
                                ng-popover-confirm="delete({{item.id}})">
                            <i class="fa fa-fw fa-trash-alt"></i>
                        </button>
                    </td>
                    <td>{{$root.getLocalized(item.locale, 'countryName')}}</td>
                </tr>
                <tr ng-if="!data.content.length" class="text-center">
                    <td colspan="100" class="warning">ჩანაწერები ვერ მოიძებნა</td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="50" class="text-center">
                        <imperio-pager></imperio-pager>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


<div id="showAddEdit" class="modal black-overlay" data-backdrop="false">
    <div class="modal-dialog modal-lg" ng-form="addEditForm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{init.action}}</h5>
            </div>
            <div class="modal-body p-lg">
                <div class="b-b nav-active-bg">
                    <ul class="nav nav-tabs">
                        <li class="nav-item" ng-repeat="item in object.locale">
                            <a class="nav-link" ng-class="{active: ($index == 0)}" href="" data-toggle="tab" data-target="#tab{{$index}}">
                                {{item.lang.displayName}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content p-a m-b-md">
                    <div class="tab-pane animated fadeIn text-muted" ng-class="{active: ($index == 0)}" id="tab{{$index}}" ng-repeat="item in object.locale">
                        <section>
                            <div class="form-group">
                                <label>ქვეყნის სახელი: </label>
                                <input class="form-control" type="text" placeholder="ISO კოდი"
                                       ng-model="object.locale[$index].countryName" required>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">დახურვა</button>
                <button type="button" class="btn danger p-x-md"
                        ng-disabled="addEditForm.$invalid"
                        ng-click="save()">
                    შენახვა
                </button>
            </div>
        </div>
    </div>
</div>